<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" \
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jimfangx.ssh-tunnel-bwrcrdsl-nomachine</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/autossh</string>
    <string>-M</string>
    <string>0</string>
    <string>-N</string>
    <string>-J</string>
    <string>cs199-abs@cory.eecs</string>
    <string>-L</string>
    <string>4022:localhost:22</string>
    <string>yf328@bwrcrdsl-1</string>
  </array>

  <key>KeepAlive</key>
  <true/>

  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
